body {
    background: url('../images/wordy-web-main.jpg') no-repeat center center fixed;
    background-size: cover;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}


.btn-group-vertical > .btn, .btn-group > .btn {
    background-color: #F8F8F8;
    color: #777777;
    margin-top: 8px;
}

.selectable-row {
    cursor: pointer;
}

/* Bootstrap overrides */
@media screen and (max-width: 768px) {
    .container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .jumbotron {
        padding: 20px
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .container {
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
    }
}
