body {
    background: url('../images/wordy-web-main.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 10px;
}

.landing-page {
    background-image: linear-gradient(rgb(221, 219, 215), rgba(221, 219, 185, 0.5)), url("../images/antique_books.jpg");
    height: 533px; /* 75vh; */
}

.navbar {
    background: rgba(210, 221, 173, 0.1);
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}


.btn-group-vertical > .btn, .btn-group > .btn {
    background-color: #F8F8F8;
    color: #777777;
    margin-top: 8px;
}

/* Deprecated. Rather use .selectable */
.selectable-row {
    cursor: pointer;
}

.selectable {
    cursor: pointer;
}

.starred {
    color: rgb(237, 203, 19);
}

.unstarred {
    color: #d2c5c5;
}

/* Bootstrap overrides */
@media screen and (max-width: 768px) {
    .container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .jumbotron {
        padding: 20px
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .container {
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
    }
}
