<h2 ng-show="group">{{ group.name }}</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Rating</td>
        </tr>
    </thead>
    <tbody>
        <tr class="selectable-row" ng-repeat="bkm in bookmarks | orderBy: ['title']" ng-click="editBookmark(bkm.id)">
            <td>{{ bkm.id }}</td>
            <td><a href="{{ bkm.address }}">{{ bkm.title }}</a></td>
            <td>{{ bkm.rating }}</td>
        </tr>
    </tbody>
</table>
