<form ng-submit="save()">

    <div class="row"><h3>Bookmark <span class="glyphicon glyphicon-chevron-right"></span> {{ bookmark.title }}
        &nbsp;&nbsp;
        <a class="selectable" ng-class="{'starred':bookmark.starred === 1,'unstarred':bookmark.starred !== 1}" ng-click="toggleStar()"><span ng-class="{'glyphicon-star':bookmark.starred === 1,'glyphicon-star-empty':bookmark.starred !== 1}" class="glyphicon"></span></a></h3>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" ng-model="bookmark.title" autofocus>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="http://" ng-model="bookmark.address">
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" class="form-control" id="rating" placeholder="1-5" ng-model="bookmark.rating">
        </div>
        <div class="form-group">
            <label>Groups</label>
            <tags-input ng-model="groups" id="groups" placeholder="Add a group" replace-spaces-with-dashes="false">
                <auto-complete source="loadGroups($query)" debounce-delay="500" min-length="3"></auto-complete>
            </tags-input>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <tags-input ng-model="tags" id="tags" placeholder="Add a tag" replace-spaces-with-dashes="false">
                <auto-complete source="loadTags($query)" debounce-delay="500" min-length="3"></auto-complete>
            </tags-input>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" class="form-control" ng-model="bookmark.notes" rows="3" maxlength="1024"></textarea>
        </div>
    </div>

    <div class="row" style="margin-top: 7px">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-default" ng-click="refreshThumbnail()" ng-show="bookmark.id > 0">
                <span class="glyphicon glyphicon-refresh"></span>
                Refresh Thumbnail Image
            </button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
            <button type="button" class="btn btn-danger" ng-click="delete()">
                <span class="glyphicon glyphicon-minus"></span>
                Delete
            </button>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Save
            </button>
        </div>
    </div>
</form>
