<form ng-submit="save()">
    <div class="row">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="group.name">
        </div>
        <div class="form-group">
            <label for="levelNum">Level Number</label>
            <input type="text" class="form-control" id="levelNum" ng-model="group.levelNum">
        </div>
        <div class="form-group">
            <label for="parentGroupId">Parent Group ID</label>
            <input type="text" class="form-control" id="parentGroupId" ng-model="group.parentGroupId">
        </div>
        <button type="submit" style="display: none">Submit</button>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6" style="margin-top: 7px">
            <a href="#/groups">← Back to Groups</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-right">
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-minus"></span>
                Delete
            </button>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Save
            </button>
        </div>
    </div>
</form>
