<div class="row"><h3>Groups</h3></div>

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Level</td>
            <td>Parent</td>
        </tr>
    </thead>
    <tbody>
        <tr class="selectable-row" ng-repeat="grp in groups" ng-click="editGroup(grp.id)">
            <td>{{ grp.id }}</td>
            <td>{{ grp.name }}</td>
            <td>{{ grp.levelNum }}</td>
            <td>{{ grp.parentGroupId }}</td>
        </tr>
    </tbody>
</table>
