<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">

    <h2>Work-In-Progress Disclaimer</h2>

    <p>
        This software is under <b>heavy development</b> and does not represent the final product.
        The design will change based on regular user feedback, as will the functionality.
    </p>

    <p>
        You are encouraged to engage with the product owner, business analyst, or development team to raise
        your concerns or to make suggestions. Don't forget to point out bugs if you come across one.
    </p>

</div>
