<div class="tile-item">
    <img class="tile-image" src="thumbs/rendermulti-2.png">

    <div class="tile-details">
<!--
        <div class="tile-link"><a href="{{ bookmark.address }}" class="tile-title">{{ bookmark.title }}</a></div>
        <div class="my-action">
            <span class="glyphicon glyphicon-star-empty unstarred"></span>
            <br>
            <a href="#">edit</a>
            <a href="#">delete</a>
            <a href="#">share</a>
        </div>
-->

<!--
        <div class="col-sm-8 tile-link"><a href="{{ bookmark.address }}" class="tile-title">{{ bookmark.title }}</a></div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-star-empty unstarred"></span>
            <br>
            <a href="#">edit</a>
            <a href="#">delete</a>
            <a href="#">share</a>
        </div>
-->

        <div class="col-md-8"><span class="glyphicon glyphicon-star-empty unstarred"></span> <a href="{{ bookmark.address }}" class="tile-title">{{ bookmark.title }}</a></div>
        <div class="col-md-4 text-right">
            <a href="#">edit</a>
            <br>
            <a href="#">share</a>
        </div>

    </div>
</div>
