<div class="tile-item">
    <a href="{{ bookmark.address }}"><img class="tile-image" src="thumbs/{{ bookmark.thumb }}"></a>

    <div class="fluid-container tile-details">

        <div class="col-xs-8 col-md-8"><a href="{{ bookmark.address }}" class="tile-title">{{ bookmark.title }}</a></div>
        <div class="col-xs-4 col-md-4 text-right">
            <span class="glyphicon" ng-class="{'glyphicon-star':bookmark.starred === 1, 'starred':bookmark.starred === 1,'glyphicon-star-empty': bookmark.starred !== 1, 'unstarred':bookmark.starred !== 1}"></span>
            <br>
            <a href="#/bookmarks/{{ bookmark.id }}">edit</a>
            <br>
            share
        </div>

        <div class="col-xs-12 col-md-12 tile-meta">
            {{ bookmark.id }} - Created on {{ bookmark.dateCreated }}
        </div>

        <div class="col-xs-12 col-md-12 tile-meta">
            <span ng-repeat="group in bookmark.groups" class="tile-group"><a href="#/bookmarks/group/{{ group.id }}">{{ group.name }}</a></span><span ng-repeat="tag in bookmark.tags" class="tile-tag"><a href="#/bookmarks/tag/{{ tag.name }}">{{ tag.name }}</a></span>
        </div>

    </div>
</div>
