<!DOCTYPE html>
<html lang="en" ng-app="malApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Project Malachite">
    <meta name="author" content="Nobby Knox">

    <title>{{ pageTitle }}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Third party styles -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.css" rel="stylesheet">

    <!-- Malachite specific styles -->
    <link href="assets/css/navbar.css" rel="stylesheet">
    <link href="assets/css/malachite.css" rel="stylesheet">

</head>

<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">{{ pageTitle }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/bookmarks/new" title="Add bookmark"><span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a href="#/bookmarks?starred=1"><span class="glyphicon glyphicon-star"></span></a></li>

                <li>
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                        <button id="group-dropdown-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled">
                            <span class="glyphicon glyphicon-bookmark"></span> <span class="caret"></span>
                        </button>
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="group-dropdown-button">
                            <!--<li class="divider"></li>-->
                            <li ng-class="{'active':selectedGroup === grp.id}" ng-repeat="grp in groups | orderBy: ['name']" ng-click="selectGroup(grp.id)" role="menuitem"><a href="#/bookmarks/group/{{ grp.id }}">{{ grp.name }}</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="btn-group" uib-dropdown>
                        <button id="admin-dropdown-button" type="button" class="btn" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-menu-hamburger"></span> <span class="caret"></span>
                        </button>
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="admin-dropdown-button">
                            <li role="menuitem"><a href="#/groups">Groups</a></li>
                            <li role="menuitem"><a href="#/tags">Tags</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#/bookmarks" title="Go to all your bookmarks">All my bookmarks</a></li>
                        </ul>
                    </div>
                </li>


            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#/logout">Log out</a></li>-->
                <li class="dropdown">
<!--
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Leonie <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Water Plants</a></li>
                        <li><a href="#">Watch Star Wars Episode V</a></li>
                    </ul>
-->
                    <div class="btn-group" uib-dropdown>
                        <button id="profile-dropdown-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled">
                            {{ sessionUser.username }} <span class="caret"></span>
                        </button>
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="profile-dropdown-button">
                            <!--<li class="divider"></li>-->
                            <li role="menuitem"><a href="#/test">Profile</a></li>
                            <li role="menuitem"><a href="#/test">Change Password</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#/test">Water Plants</a></li>
                            <li role="menuitem"><a href="#/test">Watch Star Wars Episode V</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#/logout">Log Out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="container">

    <div class="row" ng-view>
    </div>

</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-cookies.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="assets/js/malachite-app.js"></script>

</body>
</html>
